.logo {
    width: 100px;
    height: 100px;
    background-image: url('IMAGES/megh-patel-logo/favicon.png');
    background-size: cover;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  