/* Common Styling */

:root {
    --darkblue: #020111;
}

body {
    background-color: var(--darkblue);
    background-image: url(assets/websiteBg.gif);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center top;
    color: white;
}

.textJustify {
    text-align: justify;
}

/* Scrollbar */

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 50px;
}

/* Buttons */

.btnCustom {
    background-image: radial-gradient(circle 382px at 50% 50.2%, rgba(73, 76, 212, 1) 0.1%, rgba(3, 1, 50, 1) 100.2%);
    color: #FFFFE0;
    transition: all ease 0.3s;
}

.btnCustom:hover {
    scale: 1.025;
}

.youtubeButton {
    background: #e43a15;
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);
    background: linear-gradient(to right, #e65245, #e43a15);
    color: #FFFFE0;
    transition: all ease 0.3s;
}

.youtubeButton:hover {
    scale: 1.025;
}

/* Navbar */

.brandlogo {
    transition: all ease 0.2s;
}

.brandlogo:hover {
    scale: 1.05;
    -webkit-filter: drop-shadow(2px 2px 5px #787878);
    filter: drop-shadow(2px 2px 5px #787878);
    animation: moveLogoAnimation 5s linear infinite;
}

@keyframes moveLogoAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.nav-link {
    transition: ease 0.3s;
}

.nav-link:hover {
    scale: 1.1;
}

.sectionHeading {
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
    transition: all ease 0.3s;
}

/* Home Page */

.landingPage {
    position: relative;
}

.landingText {
    position: absolute;
    font-size: 33vw;
    font-weight: 700;
    z-index: -1;
    top: 0;
}

.rocketImage {
    width: 450px;
}

.oefVideo {
    width: 100%;
    height: 500px;
}

.founderName {
    font-size: 30px;
    letter-spacing: 10px;
}

.founderRealName {
    letter-spacing: 5px;
}

.founderImageContainer {
    position: relative;
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.founderImage {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.founderImageContainer:hover .founderImage {
    transform: scale(1.05);
    filter: grayscale(100%);
    filter: blur(3px);
    border-radius: 1rem;
}

.founderImageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.founderImageContainer:hover .founderImageOverlay {
    opacity: 1;
}

.overlayText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 4px 4px #000000;
}

.owl-carousel {
    padding: 75px 0 0 0;
}

.brandImage {
    transition: all ease 0.2s;
}

.brandImage:hover {
    scale: 1.05;
    transition: all ease 0.2s;
}

.bgCustom {
    background-image: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%);
    color: var(--darkblue);
    transition: all ease 0.2s;
}

.bgCustom:hover {
    color: #222134;
}

.reachSection {
    font-family: "Kanit", sans-serif;
    background-image: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%);
    color: var(--darkblue);

}

.reachNumber {
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
}

@media (max-width: 1024px) {
    .rocketImage {
        width: 300px;
    }

    .oefVideo {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .rocketImage {
        width: 300px;
    }

    .oefVideo {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .rocketImage {
        width: 150px;
    }

    .oefVideo {
        height: 160px;
    }
}

/* Team Page */

.creatorCard .memberName {
    font-size: 30px;
    letter-spacing: 5px;
}

.memberRealName {
    letter-spacing: 5px;
}

/* Esports Page */

.starsChampionship {
    font-weight: bold;
    background-image: linear-gradient(to right,
            #462523 0%,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.creatorImageContainer {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.creatorImage {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.creatorImageContainer:hover .creatorImage {
    transform: scale(1.05);
}